<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Marie-Laure</h2>
      <h4>example@gmail.com</h4>
    </div>
    <span> <img src="assets/img/poussin.png" alt="no image" /></span>
  </div>
  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLink="/" routerLinkActive="list-item-active">
    <mat-icon>dashboard</mat-icon>Tableau de Bord
  </a>
  <a mat-list-item routerLink="/users" routerLinkActive="list-item-active">
    <mat-icon>supervised_user_circle</mat-icon>Utilisateurs
  </a>
  <a mat-list-item routerLink="/parcours" routerLinkActive="list-item-active">
    <mat-icon>landscape</mat-icon>Parcours
  </a>
  <a mat-list-item routerLink="/map" routerLinkActive="list-item-active">
    <mat-icon>map</mat-icon>Carte
  </a>
  <a mat-list-item routerLink="/notifications" routerLinkActive="list-item-active" >
    <mat-icon>sms</mat-icon>Notifications
  </a>
  <a mat-list-item routerLink="/statistics" routerLinkActive="list-item-active">
    <mat-icon>show_chart</mat-icon>Statistiques
  </a>


  <mat-divider></mat-divider>

  <h2 matSubheader>Outils</h2>
  <a mat-list-item routerLink="/" routerLinkActive="list-item-active">
    <mat-icon>contacts</mat-icon>
    Qui contacter ?
  </a>

  <a mat-list-item routerLink="/" routerLinkActive="list-item-active">
    <mat-icon>phones</mat-icon>
    Annuaire CCVO
  </a>
</mat-nav-list>
