<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-start">
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Rand'Ossau
        </span>
        </div>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button matTooltip="Info about the action" mat-icon-button>
                        <mat-icon matBadge="5" matBadgeColor="warn">message</mat-icon>
                    </button>
                    <span class="cdk-visually-hidden">
                        Exemple de preview de messages
                      </span>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>exit_to_app</mat-icon>
                            Se déconnecter
                        </button>

                    </mat-menu>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
            </ul>
        </div>

    </mat-toolbar-row>
</mat-toolbar>
