@font-face {
  font-family: "Origin-Bold";
  src: url("src/assets/fonts/Origin-Bold.woff");
}
@font-face {
  font-family: "Origin-Heavy";
  src: url("src/assets/fonts/Origin-Heavy.woff");
}
@font-face {
  font-family: "Origin-Light";
  src: url("src/assets/fonts/Origin-Light.woff");
}

@font-face {
  font-family: "Origin-Regular";
  src: url("src/assets/fonts/Origin-Regular.woff");
}
