@font-face {
  font-family: "Baloo-Bold";
  src: url("src/assets/fonts/BalooBhaina2-Bold.woff");
}
@font-face {
  font-family: "Baloo-ExtraBold";
  src: url("src/assets/fonts/BalooBhaina2-ExtraBold.woff");
}
@font-face {
  font-family: "Baloo-Medium";
  src: url("src/assets/fonts/BalooBhaina2-Medium.woff");
}

@font-face {
  font-family: "Baloo-Regular";
  src: url("src/assets/fonts/BalooBhaina2-Regular.woff");
}

@font-face {
  font-family: "Baloo-SemiBold";
  src: url("src/assets/fonts/BalooBhaina2-SemiBold.woff");
}
