<div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px">
    <div fxFlex="500">
        <mat-grid-list cols="3" rowHeight="100px" style="height: 100px;" gutterSize="10px">
            <mat-grid-tile>
                <div>
                    <mat-icon>eco</mat-icon>
                        <br>
                    <div>
                        Végétation Gênante
                    </div>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div>
                    <mat-icon>bug_report</mat-icon>
                        <br>
                   <div>
                        Animaux/Insecte
                   </div>
                </div> 
            </mat-grid-tile>
            
            <mat-grid-tile>
                <div>
                    <mat-icon>nature</mat-icon> 
                  <br>
                    <div>
                    Chute d'arbres
                    </div>  
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div>
                    <mat-icon>not_interested</mat-icon> 
                        <br>
                    <div>
                    Chemin impraticable
                    </div>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div>
                    <mat-icon>flag</mat-icon> <br>
                    <div>
                        Balisage
                    </div>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div>
                    <mat-icon>apps</mat-icon> <br>
                    <div>
                        Autres
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>